.scroll-to-top {
    background-color: #1f1340;
}

.sidebar {
    background-color: #1f1340;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .pagination a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  }
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }